:root{
  --text-color: white;
  --color-primary: #080836FF;
  --color-secondary: #5353e3;
}

#root{
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #080836FF;
  color: var(--text-color);
}

main{
  margin: 0 30% 0 20%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#searchFormPaginator .mat-mdc-select-trigger{
  padding: 0 10px;
}

.cdk-overlay-pane{
  background-color: var(--color-secondary);
}

.mat-sort-header-content{
  font-weight: bold;
}

tbody tr:nth-child(odd){
  background-color: var(--color-secondary)
}
