/* You can add global styles to this file, and also import other style files */

#root{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main{
  width: 70ch;
  margin: 0 30% 0 20%;
}
