<app-search-form-shared
  [dataSource]="dataSource"
  (filterChange)="applyFilter($event)"
/>


<table [dataSource]="dataSource" mat-table matSort>

  <ng-container matColumnDef="year">
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Nach Jahr sortieren">Year</th>
    <td *matCellDef="let row" mat-cell>{{ row.year }}</td>
  </ng-container>

  <ng-container matColumnDef="parent_entity">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Unternehmen</th>
    <td *matCellDef="let row" mat-cell>{{ row.parent_entity }}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Land</th>
    <td *matCellDef="let row" mat-cell>{{ row.country }}</td>
  </ng-container>

  <ng-container matColumnDef="total_emissions_MtCO2e">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Emissionen in Mt/Jahr</th>
    <td *matCellDef="let row" mat-cell>
      {{ row.total_emissions_MtCO2e | number:'1.0-7' }}
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

</table>
