#companiesTable{
  width: 100%;
  table-layout: fixed;
  gap: 20px;
  border: 1px solid red;
}

#companiesTable tr,th,td{
  color: var(--text-color);
}

#companiesTable th{
  width: 30%;
}

#companiesTable #yearHeader{
  width: 10%;
}
