<app-search-form-shared
  [dataSource]="dataSource"
  (filterChange)="applyFilter($event)"
/>

<p id="mobile-hinweis">Mobile Users: Use your phone sideways for the best experience</p>

<table [dataSource]="dataSource" mat-table matSort id="companies-table">

  <ng-container matColumnDef="year" >
    <th *matHeaderCellDef mat-header-cell mat-sort-header sortActionDescription="Nach Jahr sortieren" id="yearHeader">Year</th>
    <td *matCellDef="let row" mat-cell>{{ row.year }}</td>
  </ng-container>

  <ng-container matColumnDef="parent_entity">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Company</th>
    <td *matCellDef="let row" mat-cell>{{ row.parent_entity }}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Country</th>
    <td *matCellDef="let row" mat-cell>{{ row.country }}</td>
  </ng-container>

  <ng-container matColumnDef="total_emissions_MtCO2e">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Emissions in Mt/year</th>
    <td *matCellDef="let row" mat-cell>
      {{ row.total_emissions_MtCO2e | number:'1.0-7' }}
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

</table>
